build/

# Java #
*.class

# Package Files
*.jar
*.war
*.ear

# IntelliJ #
*.iml
*.ipr
*.iws
.idea/

# OS X #
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
